<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qifangli.edumanage.dao.mapper.SpotMapper">
    <resultMap id ="SpotInfoMap" type="com.qifangli.edumanage.dao.entity.Spot">
        <result column="spt_no" property="id"/>
        <result column="spt_area" property="area"/>
        <result column="spt_room" property="room"/>
    </resultMap>
    <resultMap id ="RoomInfoMap" type="com.qifangli.edumanage.dao.entity.Spot">
        <result column="spt_room" property="room"/>
    </resultMap>
    <select id="findSpotByAreaAndRoom" resultMap="SpotInfoMap">
        SELECT * FROM tbl_spot WHERE spt_area = #{area} AND spt_room = #{room}
    </select>
    <select id="findSpotById" resultMap="SpotInfoMap">
        SELECT * FROM tbl_spot WHERE spt_no = #{id}
    </select>
    <select id="findRoomByArea" resultMap="RoomInfoMap">
        SELECT spt_room FROM tbl_spot WHERE spt_area = #{area}
    </select>
</mapper>