<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qifangli.edumanage.dao.mapper.ScoreMapper">
    <resultMap id ="ScoreInfoMap" type="com.qifangli.edumanage.dao.entity.Score">
        <result column="score_no" property="id"/>
        <result column="stu_no" property="stuId"/>
        <result column="tea_crs_no" property="teaCrsId"/>
        <result column="score_pro" property="scorePro"/>
        <result column="score_end" property="scoreEnd"/>
        <result column="score" property="score"/>
    </resultMap>
    <select id="findScoreByStuId" resultMap="ScoreInfoMap">
        SELECT * FROM tbl_score WHERE stu_no = #{id}
    </select>
</mapper>